* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

body {
    background-color: #333;
}

canvas {
    display: block;
    border: 1px solid #999;
    /* box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.8); */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    z-index: 99;
}

p,
a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 19px;
    color: #777;
    display: block;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
}

.startGame {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0px auto;
    background: url("images/123.jpg");
    z-index: 1;
    display: none;
}

.startGame a {
    display: none;
    width: 100px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 20px;
    color: white;
    border: 1px solid white;
}

#gameId {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    align-items: baseline;
}

a {
    color: #3377ee;
}

h6 {
    display: flex;
    line-height: 1.5em;
}

#tipBoard {
    display: block;
    /* width: 320px; */
    height: 40vh;
    background-color: #CCC8D5BB;
    color: #333;
    border-radius: 12px;
    text-align: center;
    font-size: 25px;
    line-height: 1.5em;
    position: fixed;
    left: 1vh;
    top: 99vh;
    transform: translateY(-100%);
    z-index: 100;
    padding: 1rem;
}

.serverDelay {
    color: darkgreen;
}

.renderDelay {
    color: darkblue;
}

#settingPanel {
    background-color: #CCC8D5BB;
    display: grid;
    width: 20vw;
    height: 6vh;
    font-size: xx-small;
    position: fixed;
    left: 1vh;
    top: 99vh;
    transform: translateY(-6vh);
    z-index: 150;
    grid-template-areas: "button serverDelay""button renderDelay""button fps";
    grid-template-rows: 2vh 2vh 2vh;
    grid-template-columns: 4vw auto;
    padding-left: 0.2vw;
}

#settingPanel>button {
    margin: 20% 5%;
    color: #333;
    text-align: center;
    line-height: 1.5em;
    position: relative;
    grid-area: button;
    border: none;
}

#settingPanel>p {
    font-size: 1.75vh;
    text-align: left;
    height: 2vh;
    color: #333;
    /* line-height: 2vh; */
    transform: translateY(-100%);
}

#settingPanel>#serverDelay {
    grid-area: serverDelay;
}

#settingPanel>#renderDelay {
    grid-area: renderDelay;
}

#settingPanel>#fps {
    grid-area: fps;
}

.leaderboard-container {
    max-height: 18vh;
    width: 12vw;
    top: 1vh;
    right: 1vh;
    position: fixed;
    overflow-y: auto;
    background-color: #aaaaaa66;
    padding: 0.2rem;
    z-index: 100;
    user-select: none;
}

.leaderboard-container::-webkit-scrollbar {
    width: 0.3rem;
}

.leaderboard-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.leaderboard-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-table tr {
    height: 1.8vh;
    font-size: 1.8vh;
    color: ghostwhite;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: .2rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.leaderboard-table th {
    height: 2vh;
    font-size: 2vh;
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    color: #333;
    z-index: 1;
}